@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
	background-color: #143849;
	color: white;
	font-family: 'Lobster', 'cursive';
	text-align: center;
    border: solid 1px;
	border border-radius: 47px;
	box-shadow: 0 0 10px  #fff;
}

.contendor{
	width: 800px;




	margin: auto;
	background-color: #a1afb6;
    padding: 50px;
	

}
header{
	padding-top: 19px;




}
div{

	font-style
}